<h1><%= "Name: #{@project.name}" %></h1>
<h2> Material: <%= @project.material %></h2>
<%= "Challenge Theme: #{@project.challenge.theme}" %>
<p>
<%= "Number of Contestants: #{@project.contestants.length}" %>
</p>
<p>
<%= "Average Age of Contestants: #{@average_age}"  %>
</p>


<h2> New Contestant Information </h2>

<%= form_tag "/projects/#{@project_id}", method: :post do %>
  <%= label_tag "name" %>
  <%= text_field_tag :name %>

  <%= label_tag "age" %>
  <%= text_field_tag :age %>

  <%= label_tag "hometown" %>
  <%= text_field_tag :hometown %>

  <%= label_tag "years_of_experience" %>
  <%= text_field_tag :years_of_experience %>

  <%= submit_tag "Add Contestant To Project"%>
<% end %>
